@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  direction: rtl;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 200;
  src: url(./fonts/Vazirmatn-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "VazirMatn";
  font-weight: 300;
  src: url(./fonts/Vazirmatn-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "VazirMatn";
  font-weight: 400;
  src: url(./fonts/Vazirmatn-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "VazirMatn";
  font-weight: 500;
  src: url(./fonts/Vazirmatn-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "VazirMatn";
  font-weight: 600;
  src: url(./fonts/Vazirmatn-ExtraBold.ttf) format("truetype");
}
body {
  @apply font-vazirmatn font-400 bg-light-grey;
}
